.contentpartform {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  /* flex-direction: row; */
  padding: 40px;
  justify-content: center;
}

form {
  width: 100%;
}

.contentpartform > .secoundpartform {
  width: 45%;
  margin-left: 20px;
}
.contentpartform > .firstpartform {
  width: 45%;
}

.annonce > h2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
}
input[type="text"] {
  margin: 10px 0px 10px 0px;
  height: 40px;
  width: 100%;
  border: 1px solid;
  border-radius: 0px;
}

input[type="number"] {
  margin: 10px 0px 10px 0px;
  height: 40px;
  width: 100%;
  border: 1px solid;
}

select {
  margin: 10px 0px 10px 0px;
  height: 40px;
  width: 100%;
  border: 1px solid;
}
form > .description {
  padding: 40px;
}

/* 
.content {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding: 20px;
}



form > .secoundpart {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.form > .button {
  display: flex;
  justify-content: center;
}

.description > input[type="text"] {
  height: 200px;
  width: 100%;
  border: 1px solid;
}
.description > .pictures {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  padding: 50px 0px;
  margin-top: 20px;
}

.button > input[type="submit"] {
  margin-top: 30px;
  background-color: #89b803;
  color: white;
  height: 30px;
  width: 150px;
  cursor: pointer;
  border: none;
}
@media (max-width: 930px) {
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
  }
  select#Séléction {
    width: 100%;
  }
  input[type="text"] {
    width: 100%;
  }
  input[type="number"] {
    width: 100%;
  }
} */
