.secound.part {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  padding: 40px;
}

h2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
}

form {
  column-count: 2;
  column-gap: 40px;
}

input[type="submit"] {
  margin-top: 30px;
  background-color: #89b803;
  color: white;
  height: 50px;
  cursor: pointer;
}

input[type="text"] {
  margin: 10px 0px 10px 0px;
  height: 30px;
  width: auto;
}

input[type="number"] {
  margin: 10px 0px 10px 0px;
  height: 30px;
  width: auto;
}

select#Séléction {
  margin: 10px 0px 10px 0px;
  height: 30px;
  width: auto;
}

.button {
  display: flex;
  justify-content: center;
}

.description > input[type="text"] {
  height: 200px;
  width: auto;
}
