* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  font-family: DM sans; /* Main font */
  /* list-style-type: none; */
  /* border: 5px solid red; */
}
:root {
  --color-yellow: #ebaf00;
}
