@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
/* border: 1px solid red; */
}

body {
  font-family: 'DM Sans', sans-serif;
 /* list-style-type: none; 
 border: 5px solid red;  */
}

section {
margin: 0 auto;
min-height: 60vh;
max-width: 1440px;
/* padding: 2rem 4rem;  */
}

:root {
  --color-yellow: #ebaf00;
  --color-red: #D73239;
  --color-blue: #3460D2;
  --color-green: #89B803;
  --color-grey: #606060;
}
