.footer {
  background-color: var(--color-footer);
  padding: 2rem 4rem;
  color: black;
  max-width: auto;
}

a {
  color: black;
  text-decoration: none;
}

.Firstpart {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  cursor: pointer;
  width: auto;
  margin-top: 15px;
}

.propos {
  text-align: left;
  margin-right: 30px;
}

.legales {
  text-align: left;
  margin-right: 25px;
}

.footer h3 {
  padding: 10px 0;
  border-bottom: 1px solid black;
}

.liens {
  line-height: 1.5rem;
  margin-top: 1rem;
}

ul {
  display: flex;
  flex-direction: column;
}
.copyright {
  margin-top: 2rem;
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
}
