.signup_background {
    background-image: url("/src/assets/images/signup.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
    line-height: 2 rem;
  }
  .signup_title{
    display: flex; 
    flex-direction: column;
 margin-top: 100px;
  }

  .signup_header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
    background-color: rgba(0, 0, 0, 0.72);
    margin: 100px;
  }
  
    @media (max-width: 700px) {
    .signup_background {
      color:black;
      background-image: none;
      
      flex-direction: column;
      margin: auto;
    }
    .signup_header{
        
        color:white;
    }
     .signup_title {
        display: none;
    }
    
}
  