/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

* {
  font-family: DM sans; /* Main font */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  /* border: 1px solid red; */
}

:root {
  --color-footer: #ebaf00;
}
